# Data
data/
fetch.log
data/processed/
results/


# Python
__pycache__/
*.pyc
.venv/
.env


# Jupyter
.ipynb_checkpoints/


# OS
.DS_Store


# VSCode
.vscode/
node_modules
node_modules/ .next/ .DS_Store .env.local pycache/ venv/
