# Data & Logs
data/
index_data/
logs/
*.log
*.csv
*.db


# Python
__pycache__/
backend/_pycache_/
backtest/_pycache_/
*.pyc
.venv/
.env


# Jupyter
.ipynb_checkpoints/
*.ipynb


# Node.js
node_modules/
dist/
.next/
out/

# OS
.DS_Store


# VSCode
.vscode/

# Typescript
*.tsbuildinfo
